# ens assegurem de poder fer els canvis
user=root

# assignem un rang d'ips durant una durada
dhcp-range=x1,72.28.1.50,72.28.1.80,255.255.255.0,5m
dhcp-range=x2,42.28.1.50,42.28.1.80,255.255.255.0,5m

# deshabilitar el servidor dns de dnsmasq
port=0
